<!DOCTYPE html>
<html>
<head>
    <title>tv</title>
</head>
<body>
  <div id="root">
    <input type="text" id="input" v-model="message">
    <p>The value of the input is: {{ message }}</p>
  </div>
  <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>
  <script>

  new Vue({
    el: '#root',
    data: {
      message: 'Hello World'
    }
  });

  // document.querySelector('#input').value = data.message;
  </script>

</body>
</html>

